@import url('https://fonts.googleapis.com/css?family=Merriweather:300|Source+Sans+Pro:200,400,600&display=swap');



:root {
    /* Bootstrap default setting-doens't override bootstrap default color settings like "secondary"
    list kept to refer later
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    */
    /*Override Variables*/
    --font-family-sans-serif: 'Source Sans Pro', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --gray-dark: #404040;
}


/*Universal*/

body{
    font-family: var(--font-family-sans-serif);
    color: var(--color-text);
    font-weight: 200;
}
h2{
    font-size: 40px;
}
.section-title{
    padding: 50px 0px 50px 0px;
}

.page-section{
    margin: 100px auto 100px auto;
    padding: 0px 0px 0px 0px;
}

/*header*/

.site-header{
background-color: black;
}


.site-header .layout-hero{
    min-height: 80vh;
}

.layout-hero h1{
    font-size: 5em;
}
.layout-hero h4{
    margin-top: 40px;
    font-weight: 100;
}


/*Project*/
.myprojects img{
    width: 30%;
    justify-content: center;
    margin-top: 50px;
}

.myprojects .project-card-3rd img{
    width: 80%;
}

.project-card-button{
    padding: 200px 0px 0px 0px;
}
.project-card{
    margin-bottom: 50px;
}

/*About Me*/
.aboutme img{
    width: 100%;
}

.aboutme{
    background-color: #F1F1F1;
    padding: 0px 0px 60px 0px;
}

/*skill*/
.skill{
    margin-bottom: 150px;
}

/*Footer*/

footer{
    justify-content: center;
    padding: 50px;
    background: black;
}


footer a{
    padding: 0px 30px 0px 30px;
}

.layout-social .layout-icon{
    font-size: 3em;
}

/*Responsive*/

@media only screen and (max-width: 576px) {
    .section-title{
    padding: 50px 0px 50px 0px;
    }
    .project-card-button{
    margin: 0px auto 30px auto;
    }
    .project-card{
    margin-bottom: 30px;
    }
    .skill img{
    width: 160%
    }
    .aboutme img{
        width:100%;
        padding: 0px 30px 0px 30px;
    }
    .aboutme-description{
        margin-top: 50px;
        padding: 30px;
        text-align: center;
    }
}
